<style>
    @import url('https://fonts.maateen.me/kalpurush/font.css');
    .dashboard a {
        font-size: 22px;
        text-decoration: none;
        background-color: #ecedff;
        color: black;
        margin: 0px 10px;
        border-radius: 10px;
        display: block;
        padding: 5px 0px;
    }

    .link {
        margin: 0px 10px;
        border-radius: 10px;
    }

    h4.text-center {
        text-align: center;
    }
    .kalpurush {
        font-family: 'Kalpurush', sans-serif !important;
    }
</style>

<h4 class="text-center dashboard">
    <a class="kalpurush text-left ps-4" href="/">
        <i class="fas fa-tachometer-alt"></i> ড্যাশবোর্ড
    </a>
</h4>
<hr>
<a class="link kalpurush" href="{% url 'content:member' %}">
    <i class="fas fa-user me-2"></i> সদস্য
</a>
<a class="link kalpurush" href="{% url 'bookkeeping:deposit' %}">
    <i class="fas fa-money-bill-wave me-2"></i> ডিপোজিট
</a>
<a class="link kalpurush" href="{% url 'bookkeeping:meal' %}">
    <i class="fas fa-utensils me-2"></i> খাবার ব্যবস্থাপনা
</a>

<!-- Optional: Block for extra sidebar content -->
{% block sidebar_extra %}{% endblock %}