{% extends 'base.html' %}
{% load static %}

{% block title %}MC | সদস্য তালিকা{% endblock %}

{% block css_extra %}
<style>
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    .card-body {
        padding: 1.5rem;
    }

    .card-title {
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 600;
    }

    .card-text {
        font-size: 1rem;
        color: #6c757d;
    }

</style>
{% endblock %}

{% block content %}
<h2 class="text-center mb-5 fw-bold kalpurush">সদস্য তালিকা</h2>

<div class="container">
    <div class="m-card">
        <table class="p-table">
            <thead>
                <tr>
                    <th>ক্রম</th>
                    <th>নাম</th>
                    <th>সদস্য</th>
                    <th>ম্যানেজার</th>
                    <th>একশন</th>
                </tr>
            </thead>
            <tbody>
                {% for member in objects %}
                    <tr>
                        <td class="sutonny text-center">
                            {{ forloop.counter }}
                        </td>
                        <td class="kalpurush d-flex justify-content-start align-items-center gap-2">
                            {% if member.profile_image %}
                                <img src="{{ member.profile_image.url }}" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
                            {% else %}
                                <img src="{% static 'images/avatar.jpeg' %}" class="rounded-circle" style="width: 50px; height: 50px; object-fit: cover;">
                            {% endif %}
                            <span class="ms-2">{{ member.name|default_if_none:'' }}</span>
                        </td>                        
                        <td class="kalpurush text-center">
                            {% if member.is_member %}
                                হ্যাঁ
                            {% else %}
                                না
                            {% endif %}
                        </td>
                        <td class="kalpurush text-center">
                            {% if member.is_manager %}
                                হ্যাঁ
                            {% else %}
                                না
                            {% endif %}
                        </td>
                        <td class="text-center kalpurush">
                            <a href="{% url 'content:member_details' member.pk %}" class="btn btn-small btn-primary px-4 mb-3 kalpurush" style="transition: all 0.3s ease;">
                                দেখুন
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <p class="text-center">কোনো সদস্য পাওয়া যায়নি।</p>
                {% endfor %}
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>

{% endblock %}
